body, div, p, form, select, option, input, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-9, .col-md-12{
    margin: 0;
    padding: 0;
    padding-top: 2px;
}
hr {
    margin: 3px;
    height: 1px;
    background-color: black;
}
fieldset {
    background-color: #D8D1D1
}
.form-control-my-search{
    display: inline-block;
    width: 70px;
    padding: 0;
}
.my_btn{
    padding: 1px 10px;
}
.my_btn_td{
    padding: 1px 5px;
}
.title{
    margin: 15px 0;
}
.bold{
    font-weight: bold;
}
.labels{
    padding-left: 10px;
    padding-bottom: 4px;
}
table{
    font-family: "Times New Roman", serif;
}
.td_btn{
    padding: 0;
}