.col-md-6_my{
    padding: 0;
}
#number_opinion, #number_protocol{
    padding: 1px 5px;
    height: 28px;
    display: inline-block;
    width: 75px;
}
#date_opinion, #date_protocol{
    padding: 1px 5px;
    height: 28px;
    display: inline-block;
    width: 100px;
}
#inspectors_protocol{
    padding: 1px 5px;
    height: 28px;
    display: inline-block;
    width: 150px;
}
.add_span{
    font-weight: bold;
    font-size: 0.9em;
}
.btn_opinion, .btn_protocol, .my_float_right{
    float: right;
}
.btn_protocol{
    margin-top: 3px;
}
.look_protocol{
    margin-top: 10px;
}