.my_alert_center{
     text-align: center;
 }
.col-center-block{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.my_center_edition{
    display: inline-block;
    vertical-align: middle;
}
.my_center_edition_1{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10%;
}