.h3, h3 {
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}
.h3_top {
    margin-bottom: 10px;
}
.h3_bottom {
    margin-bottom: 1cm;
}


table, th, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
.cell {
    vertical-align: text-top;
    padding: 8px 5px 5px 5px;
}
.cell-top {
    padding: 5px 1px;
}
/* 1 table */
#first_table {
    margin: 0 auto;
    /* width: 15.2cm; */
    height: 5.2cm;
    padding: 0;
}
.first-row-cell {
    border: 1px solid black;
    width: 50%;
}
/* 2 table */
#second_table {
    margin: 0 auto;
    /* width: 15.2cm; */
    height: 3.5cm;
    padding: 0;
}
.second-row-cell  {
    width: 50%;
    border: 1px solid black;
    border-top: none;
    /* margin-top: 10px; */
    /* padding-top: 7px !important; */
}
.autority {
    padding-bottom: 0;
}

.third-row-cell {
    /* width: 50%; */
    border: 1px solid black;
    border-top: none;
}
/* 3 table */
#third_table {
    margin: 0 auto;
    /* width: 15.2cm; */
    height: 3cm;
    padding: 0;
}
/* 4 table */
#fourth_table {
    margin: 0 auto;
    /* width: 15.2cm; */
    height: 2.9cm;
    padding: 0;
    /* background-color: #f08351; */
}
.fourth-row-cell {
    width: 25%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    padding-top: 1px !important;
}
.last-cell {
    border-right: 1px solid black;
}
#fifth_table {
    margin: 0 auto;
    /* width: 15.2cm; */
    height: 6.5cm;
    padding: 0;
    /* background-color: #71d836; */
}
.fifth-row-cell {
    width: 100%;
    border: 1px solid black;
    border-top: none;
}

#sixth_table {
    margin: 0 auto;
    /* width: 15.2cm; */
    width: 100%;
    height: 1.8cm;
    padding: 0;
    /* background-color: #d0ec8e; */
    margin-bottom: 5px;
}
.sixth-row-cell {
    width: 100%;
    border: 1px solid black;
    border-top: none;
    vertical-align: middle;
}

.p_bottom {
    margin-top: 10px;
    font-size: 0.7em;
}

.p_content {
    text-transform: uppercase; 
    font-size: 12px;
}
.p_content7 {
    font-size: 12px;
}
.p_info {
    font-size: 11px;
    line-height: 13px;
    text-align: justify;
}
.stocs {
    line-height: 10px;
}
.number_sert {
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 19px;
}
.transport {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 20px;
}
.cell-control {
    padding-top: 7px;
}
.weight {
    float: right;
    margin-right: 50px;
}

