div, p, form, select, option, input, h1, h2, h3, h4, h5, fieldset, legend, a{
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 100%;
    margin: auto;
}
.info-wrap{
    width: 98%;
    margin: auto;
}
#wrap_in{
    margin: 0 auto;
    background-color: #d8d8eb;
}
#wrap_in_note{
    margin: 0 auto;
    background-color: #d8d8eb;
}
.my_top_nav{
    width: 98%;
    margin: auto;
    padding: 0;
}
#flip_all{
    /* border: 1px solid red; */
    height: 100%;
}
#flip_all_note{
    /*border: 1px solid red;*/
    height: 100%;
}
.page{
    background-color: white;
    background-size: cover;
    width: 21cm;
    height: 29.6cm;
    margin: 0 auto;
    font-family: "Times New Roman", serif;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
    padding-top: 1cm;
    padding-bottom: 1.7cm;
}

.red{ color: #ff0000;  }
.bold{ font-weight: bold;}
.description{font-size: 0.9em}

.my_btn{
    padding: 1px 10px;
    display: inline-block;
}
.bold{
    font-weight: bold;
}
.my_hr{
    margin: 2px;
    height: 1px;
    background-color: #111111;
}
.my_hr_in{
    margin: 1px;
    height: 1px;
    background-color: #FFFFFF;
}
.title_doc{
    margin: 5px 0 0 40%;
}
.my_float{
    float: left;
}
fieldset{
    padding: 8px;
    background-color: #D8D1D1;
    border: 1px solid #5e5e5e;
}
legend{
    font-weight: bold;
    border: 0;
    width: auto;
}
.big_field{
    background-color: #b6b5b5;
    border-spacing: 2px;
    border-collapse: separate;
    margin-bottom: 10px;
}
.big_legend{
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    margin-left: 40%;
}
.row-height-my{
    float: none;
    display: table;
    vertical-align: top;
    padding: 0;
}
.small_field_right{
    width: 33%;
    vertical-align: top;
    background-color: #d2d0d0;
    padding: 2px 10px;
    display: table-cell;
    border: 1px solid #4c4c4c;
}
.small_field_center{
    width: 33%;
    vertical-align: top;
    background-color: #d2d0d0;
    padding: 2px 10px;
    display: table-cell;
    border: 1px solid #4c4c4c;
}
.small_field_left{
    width: 33%;
    background-color: #d2d0d0;
    padding: 2px 10px 10px 10px;
    border: 1px solid #4c4c4c;
}
.row-table-bottom{
    float: none;
    display: table;
    vertical-align: top;
    padding: 0;
}
.small_field_bottom{
    display: table-cell;
    vertical-align: middle;
    background-color: #d2d0d0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    border: 1px solid #4c4c4c;
}
.hidden{
    display: none;
}
.top_info{
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
.span-firm-info{
    color: #337AB7;
}
.span-phar-info{
    color: #1d9d13;
}
.print-button{
    /* text-align: center; */
    vertical-align: middle;
    font-weight: bold;
    padding: 5px;
    background-color: unset;
}

table {
    border: 1px solid black;
}
th{
    border: 1px solid black;
    text-align: center;
}
td{
    border: 1px solid black;
    padding-left: 5px;
}
.first {
    width: 30px;
    text-align: center;
}
.class {
    text-align: center;
}
.last_td {
    text-align: right;
    padding-right: 10px;
}