div, p, form, select, option, input, h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}

thead{
    background-color: rgba(255, 255, 0, 0.18);
}
table {
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}
th, td{
    padding: 2px;
}
.small{
    font-size: 0.8em;
}
.middle{
    text-align: center;
}