div, p, form, select, option, input, h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}

thead{
    background-color: rgba(8, 20, 255, 0.09);
}
table {
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}
th, td{
    padding: 3px;
    text-align: center;
}
th{
    font-size: 0.9em;
}
.middle{
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgba(255, 252, 3, 0.23);
}
.month{
    font-weight: bold;
    text-align: left;
}
.bottom{
    font-weight: bold;
    background-color: rgba(8, 20, 255, 0.09);
}
.note{
    font-family: "Times New Roman", serif;
}